<form [formGroup]="emailForm" class="ui form">
  <app-input [control]="emailForm.controls.from"
             inputType="text"
             label="From"> </app-input>
  <app-input [control]="emailForm.controls.to"
             inputType="text"
             label="to"> </app-input>
  <app-input [control]="emailForm.controls.subject"
             inputType="text"
             label="Subject"> </app-input>
  <app-input [control]="emailForm.controls.text"
             inputType="text"
             controlType="textarea"
             label="Content"> </app-input>
  <button class="ui primary button">send</button>
</form>
