<h1>Create An Account</h1>
<form [formGroup]="form"
      class="ui form">
  <app-input label="Username" [control]="form.get('userName')"></app-input>
  <div>
    {{form.get('userName').errors|json}}
  </div>
  <div class="field">
    <label>Password</label>
    <input formControlName="password">
  </div>
  <div class="field">
    <label>Password Confirmation</label>
    <input formControlName="passwordConfirmation">
  </div>
  <button class="ui submit button primary">
    Submit
  </button>
  <div>
    {{form.errors|json}}
  </div>
</form>
